<% provide(:title, 'About') %>

<div class="hero-unit about-hero-unit">
  <h1>About</h1>
  <h2>
    <p>
      This website is built with love by <a href="http://jamesma.info">James Ma</a> for Purdue students to search for events with free food and giveaways. Find, eat, update listings, repeat! Now get out there and socialize!
    </p>

    <p>
      The source code for this website is fully open sourced and you can find it on <a href="http://github.com/jamesma/purduefoodfinder">GitHub</a>.
    </p>
  </h2>
</div>