<footer class="footer">
  <small>
    PurdueFoodFinder by <a href="http://jamesma.info/", target="_blank">James Ma</a>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "About",   about_path %></small></li>
    </ul>
  </nav>
</footer>